@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
@-webkit-keyframes heartLike {
  0% {
    transform: scale(0);
    opacity: 100%;
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes heartLike {
  0% {
    transform: scale(0);
    opacity: 100%;
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes heartUnlike {
  0% {
    transform: scale(1.1);
    opacity: 100%;
  }
  30% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0);
    opacity: 0%;
  }
}
@keyframes heartUnlike {
  0% {
    transform: scale(1.1);
    opacity: 100%;
  }
  30% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0);
    opacity: 0%;
  }
}
@-webkit-keyframes menuApparition {
  0% {
    transform: translateY(10px);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes menuApparition {
  0% {
    transform: translateY(10px);
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes radioSpinner {
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes radioSpinner {
  100% {
    transform: rotateZ(360deg);
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

h1 {
  font-size: 26px;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin: 0;
}

p {
  font-size: 16px;
  margin: 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* CSS box-sizing */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  padding: 20px 0 10px;
  position: relative;
  display: flex;
  justify-content: center;
}
header .logo img {
  width: 150px;
}
header .backToIndex {
  position: absolute;
  left: 30px;
}
header .backToIndex i {
  font-size: 20px;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
}

/*------------------------------ SECTION LOCALISATION ------------------------------*/
.location {
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  text-align: center;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}
.location i {
  padding-right: 20px;
}
.location p {
  font-weight: 600;
}

/*------------------------------ SECTION RESERVATION ------------------------------*/
.reservation {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0 50px;
}
.reservation h1 {
  padding: 20px 50px;
}
.reservation p {
  padding: 0 25px 30px;
}
.reservation button {
  height: 50px;
  width: 225px;
  background: linear-gradient(1turn, #9356DC, #FF79DA);
  border: none;
  border-radius: 25px;
  color: white;
  opacity: 1;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  transition-duration: 0.2s;
  cursor: pointer;
}
.reservation button:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}

/*------------------------------ SECTION FONCTIONNEMENT ------------------------------*/
.functioning {
  padding: 50px 20px 70px;
}
.functioning h2 {
  margin-bottom: 15px;
}
.functioning > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.functioning__step {
  display: flex;
  height: 75px;
  border-radius: 25px;
  align-items: center;
  background-color: rgb(245, 245, 245);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.functioning__step:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
.functioning__step:hover i {
  color: #9356DC;
}
.functioning__step__number {
  position: relative;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}
.functioning__step i {
  font-size: 20px;
  color: gray;
  padding: 0 20px;
}
.functioning__step__text {
  font-weight: 700;
}

/*------------------------------ SECTION RESTAURANTS ------------------------------*/
.restaurant {
  background-color: rgb(245, 245, 245);
  padding: 50px 20px 70px;
}
.restaurant h2 {
  margin-bottom: 15px;
}
.restaurant__bloc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurant a {
  text-decoration: none;
  color: inherit;
}
.restaurant__card {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 250px;
  position: relative;
}
.restaurant__card img {
  height: 60%;
  flex: 1 1 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant__card .image1 {
  -o-object-position: 50% 70%;
     object-position: 50% 70%;
}
.restaurant__card .image2 {
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}
.restaurant__card .image3 {
  -o-object-position: 50% 90%;
     object-position: 50% 90%;
}
.restaurant__card .image4 {
  -o-object-position: 50% 80%;
     object-position: 50% 80%;
}
.restaurant__card__description {
  padding: 15px 0 10px 15px;
}
.restaurant__card__description h3,
.restaurant__card__description p {
  margin: 0;
  padding-bottom: 5px;
}
.restaurant__card__nouveau {
  font-weight: 600;
  padding: 5px 15px;
  background-color: #99E2D0;
  color: #278870;
  border-radius: 2px;
  position: absolute;
  top: 5%;
  right: 5%;
}
.restaurant__card:hover {
  transform: scale(1.01);
  background-color: rgba(147, 86, 220, 0.1);
}
.restaurant__favourite {
  position: absolute;
  right: 5%;
  bottom: 10%;
  font-size: 25px;
}
.restaurant__favourite input[type=checkbox] {
  display: none;
}
.restaurant__favourite .fa-regular {
  position: absolute;
  transform: scale(0.9);
}
.restaurant__favourite .fa-solid {
  opacity: 0%;
  background: linear-gradient(210deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.1);
}
.restaurant__favourite input[type=checkbox]:checked ~ .fa-solid {
  opacity: 100%;
  -webkit-animation: heartLike 1000ms 150ms backwards;
          animation: heartLike 1000ms 150ms backwards;
}
.restaurant__favourite input[type=checkbox]:not(:checked) ~ .fa-solid {
  -webkit-animation: heartUnlike 1000ms 150ms backwards;
          animation: heartUnlike 1000ms 150ms backwards;
}
.restaurant__favourite input[type=checkbox] ~ i:hover {
  cursor: pointer;
}

footer {
  background-color: rgb(60, 60, 60);
  color: white;
  padding: 20px 0 20px 20px;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
  font-size: 20px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}
footer ul li a i {
  width: 25px;
}
footer ul li a:hover {
  color: #bc95e9;
}

/*------------------------------ BACKGROUND IMAGE ------------------------------*/
#laPaletteDuGoutImage {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

#laNoteEnchanteeImage {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

#aLaFrancaiseImage {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

#leDeliceDesSensImage {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.restaurantBackground {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

/*------------------------------ SECTION MENU ------------------------------*/
.menu {
  margin-top: -50px;
  background-color: rgb(245, 245, 245);
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  padding: 20px 0 50px;
  gap: 25px;
  /*------------------------------ TITRE DES RESTAURANTS ------------------------------*/
  /*------------------------------ CARTE MENU ------------------------------*/
  /*------------------------------ BOUTON COMMANDER ------------------------------*/
}
.menu__restaurant {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 15px;
  align-items: center;
}
.menu__restaurant h1 {
  font-family: Shrikhand, arial;
  font-weight: 100;
  font-size: 26px;
}
.menu__restaurant__favourite {
  font-size: 26px;
}
.menu__restaurant__favourite input[type=checkbox] {
  display: none;
}
.menu__restaurant__favourite .fa-regular {
  position: absolute;
  transform: scale(0.9);
}
.menu__restaurant__favourite .fa-solid {
  opacity: 0%;
  background: linear-gradient(210deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.1);
}
.menu__restaurant__favourite input[type=checkbox]:checked ~ .fa-solid {
  opacity: 100%;
  -webkit-animation: heartLike 1000ms 150ms backwards;
          animation: heartLike 1000ms 150ms backwards;
}
.menu__restaurant__favourite input[type=checkbox]:not(:checked) ~ .fa-solid {
  -webkit-animation: heartUnlike 1000ms 150ms backwards;
          animation: heartUnlike 1000ms 150ms backwards;
}
.menu__restaurant__favourite input[type=checkbox] ~ i:hover {
  cursor: pointer;
}
.menu__restaurant i {
  padding-right: 5px;
}
.menu fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0 15px;
  gap: 20px;
}
.menu fieldset legend {
  text-transform: uppercase;
  width: 20px;
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 10px;
}
.menu__card {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  /*-------------------- RADIO ANIMATION --------------------*/
  transform-origin: center right;
  /*-------------------- CARTE ANIMATION --------------------*/
  -webkit-animation: menuApparition 800ms;
          animation: menuApparition 800ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0%;
  /*-------------------- DESCRIPTION --------------------*/
}
.menu__card input[type=radio] {
  display: none;
}
.menu__card:hover .menu__card__radioCheckIcon {
  width: 80px;
  transition-duration: 1s;
}
.menu__card:hover .menu__card__radioCheckIcon i {
  -webkit-animation: radioSpinner 1s;
          animation: radioSpinner 1s;
  width: auto;
}
.menu__card input[type=radio]:checked ~ .menu__card__radioCheckIcon {
  background-color: #32b091;
  width: 80px;
}
.menu__card input[type=radio]:checked ~ i {
  background-color: #32b091;
}
.menu__card:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.menu__card:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.menu__card:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.menu__card:nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.menu__card__label {
  display: inline-flex;
  flex: 1 1 100%;
}
.menu__card__description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 10px 5px 15px;
  height: 100%;
  flex-basis: 80%;
}
.menu__card__description__nom {
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
}
.menu__card__description__side {
  overflow: hidden;
}
.menu__card__prix {
  display: inline-flex;
  height: 100%;
  flex-basis: 20%;
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  font-weight: 600;
  padding: 0 20px 10px;
}
.menu__card__radioCheckIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  overflow: hidden;
  width: 0;
  height: 100%;
}
.menu__card__radioCheckIcon i {
  color: white;
  background-color: #99E2D0;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
}
.menu__commander {
  display: flex;
  justify-content: center;
}
.menu__commander button {
  height: 50px;
  width: 150px;
  background: linear-gradient(1turn, #9356DC, #FF79DA);
  border: none;
  border-radius: 25px;
  color: white;
  opacity: 1;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  transition-duration: 0.2s;
  cursor: pointer;
}
.menu__commander button:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}/*# sourceMappingURL=main.css.map */