footer{
    background-color: $background-color-footer;
    color: white;
    padding: 10px 0 20px 20px;
    & h2{
        font-family: 'Shrikhand', sans-serif;
        font-weight: 100;
    }
    & ul{
        list-style: none;
        padding: 0;
        & li{
            margin-bottom: 10px;
            & a{
                text-decoration: none;
                color: inherit;
                font-size: 16px;
                & i{
                    width: 25px;
                }
            }
        }
    }
}