footer{
    background-color: $backgroundColorFooter;
    color: white;
    padding: 20px 0 20px 20px;
    & h2{
        font-family: 'Shrikhand', sans-serif;
        font-weight: 100;
        font-size: 20px;
        margin-bottom: 20px;
    }
    & ul{
        list-style: none;
        padding: 0;
        margin: 0;
        & li{
            margin-bottom: 10px;
            & a{
                text-decoration: none;
                color: inherit;
                font-size: 16px;
                & i{
                    width: 25px;
                }
                &:hover{
                    color: lighten($colorPrimary, 15%);
                }
            }
        }
    }
}