main {
    display: flex;
    flex-direction: column;
}

/*------------------------------ SECTION LOAD SPINNER ------------------------------*/
.loading {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    pointer-events: none;

    /*------------------------------ ANIMATION ------------------------------*/
    @include loadingPage;

    &__spinner {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border-top: 10px double $colorPrimary;
        border-bottom: 10px double $colorSecondary;
        display: flex;
        justify-content: center;
        align-items: center;

        /*------------------------------ ANIMATION ------------------------------*/
        @include circleLoading;
    }

    &__text {
        position: absolute;
        perspective: 1000px;
        font-size: 25px;
        font-family: 'Shrikhand', sans-serif;
        font-weight: 100;

        /*------------------------------ ANIMATION ------------------------------*/
        @include textLoading;
    }
}


/*------------------------------ SECTION LOCALISATION ------------------------------*/
.location {
    background-color: $backgroundColorDarkGrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    text-align: center;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);

    & i {
        padding-right: 20px;
    }

    & p {
        font-weight: 600;
    }
}

/*------------------------------ SECTION RESERVATION ------------------------------*/
.reservation {
    background-color: $backgroundColorLightGrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0 50px;

    & h1 {
        padding: 20px 50px;
    }

    & p {
        padding: 0 25px 30px;
    }

    & button {
        height: 50px;
        width: 225px;
        @include bouton;
    }

}

/*------------------------------ SECTION FONCTIONNEMENT ------------------------------*/
.functioning {
    padding: 50px 20px 70px;

    & h2 {
        margin-bottom: 15px;
    }

    &>div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__step {
        display: flex;
        height: 75px;
        border-radius: 25px;
        align-items: center;
        background-color: $backgroundColorLightGrey;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &:hover {
            background-color: rgba($colorPrimary, 20%);

            & i {
                color: $colorPrimary;
            }
        }

        &__number {
            position: relative;
            left: -10px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: $colorPrimary;
            color: white;
        }

        & i {
            font-size: 20px;
            color: gray;
            padding: 0 20px;
        }

        &__text {
            font-weight: 700;
        }
    }
}

/*------------------------------ SECTION RESTAURANTS ------------------------------*/
.restaurant {
    background-color: $backgroundColorLightGrey;
    padding: 50px 20px 70px;

    & h2 {
        margin-bottom: 15px;
    }

    &__bloc {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    & a {
        text-decoration: none;
        color: inherit;
    }

    &__card {
        background-color: white;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        height: 250px;
        position: relative;


        & img {
            height: 60%;
            flex: 1 1 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }

        .image1 {
            object-position: 50% 70%;
        }

        .image2 {
            object-position: 50% 60%;
        }

        .image3 {
            object-position: 50% 90%;
        }

        .image4 {
            object-position: 50% 80%;
        }

        &__description {
            padding: 15px 0 10px 15px;

            & h3,
            p {
                margin: 0;
                padding-bottom: 5px;
            }
        }

        &__nouveau {
            font-weight: 600;
            padding: 5px 15px;
            background-color: $colorTertiary;
            color: darken($colorTertiary, 40%);
            border-radius: 2px;
            position: absolute;
            top: 5%;
            right: 5%;
        }

        &:hover {
            @include hoverAnimationCard;
        }
    }

    &__favourite {
        position: absolute;
        right: 5%;
        bottom: 10%;
        font-size: 25px;
        @include heartCheckbox;
    }


}