main {
    display: flex;
    flex-direction: column;
}

/*------------------------------ SECTION LOCALISATION ------------------------------*/
.location {
    background-color: $backgroundColorDarkGrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    text-align: center;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);

    & i {
        padding-right: 20px;
    }

    & p {
        font-weight: 600;
    }
}

/*------------------------------ SECTION RESERVATION ------------------------------*/
.reservation {
    background-color: $backgroundColorLightGrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0 50px;

    & h1 {
        padding: 20px 50px;
    }

    & p {
        padding: 0 25px 30px;
    }

    & button {
        @include bouton;
    }

}

/*------------------------------ SECTION FONCTIONNEMENT ------------------------------*/
.functioning {
    padding: 50px 20px 70px;

    & h2 {
        margin-bottom: 15px;
    }

    &>div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__step {
        display: flex;
        height: 75px;
        border-radius: 25px;
        align-items: center;
        background-color: $backgroundColorLightGrey;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &:hover {
            background-color: rgba($colorPrimary, 10%);

            & i {
                color: $colorPrimary;
            }
        }

        &__number {
            position: relative;
            left: -10px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: $colorPrimary;
            color: white;
        }

        & i {
            font-size: 20px;
            color: gray;
            padding: 0 20px;
        }

        &__text {
            font-weight: 700;
        }
    }
}

/*------------------------------ SECTION RESTAURANTS ------------------------------*/
.restaurant {
    background-color: $backgroundColorLightGrey;
    padding: 50px 20px 70px;

    & h2 {
        margin-bottom: 15px;
    }

    &>div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    & a {
        text-decoration: none;
        color: inherit;
    }

    &__card {
        background-color: white;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        height: 250px;

        & img {
            height: 60%;
            flex: 1 1 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }

        .image1{
            object-position: 50% 70%;
        }

        .image2{
            object-position: 50% 60%;
        }

        .image3{
            object-position: 50% 90%;
        }

        .image4{
            object-position: 50% 80%;
        }

    }
}