/*------------------------------ TABLETTE ------------------------------*/
@media screen and (min-width:768px) {

    header {
        .backToIndex {
            left: 50px;

            & i {
                font-size: 25px;
            }
        }
    }

    .pageIndex {

        .functioning {
            & h2 {
                text-align: center;
                margin-bottom: 20px;
            }
        }

        .restaurant {
            display: flex;
            flex-direction: column;
            padding: 30px 0px 50px;

            & h2 {
                text-align: center;
                margin-bottom: 20px;
            }

            &__bloc {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }

            &__card {
                flex-basis: 45%;
            }


        }
    }

    .pageRestaurant {
        .menu {
            &__restaurant {
                padding: 0 70px;
            }

            & fieldset {
                padding: 0 70px;

                & legend {
                    font-size: 24px;
                    margin-bottom: 25px;
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        & div {
            display: flex;
            gap: 150px;
        }
    }
}


/*------------------------------ LAPTOP ------------------------------*/
@media screen and (min-width:1024px) {

    header {
        .logo img {
            width: 250px;
        }

        .backToIndex {

            left: 100px;

            & i {
                font-size: 35px;
            }
        }
    }

    .pageIndex {

        .reservation {
            & h1 {
                font-size: 35px;
            }
        }

        .functioning {
            padding: 30px 30px 50px;

            & h2 {
                font-size: 30px;
            }

            &>div {
                flex-direction: row;
                justify-content: space-between;
            }

            &__step {
                width: 350px;
            }
        }

        .restaurant {
            & h2 {
                font-size: 30px;
            }
        }

    }


    .pageRestaurant {
        .menu {
            & fieldset {
                & legend {
                    text-align: center;
                }
            }

            &__card {
                &__description {
                    padding-left: 25px;
                }
            }
        }
    }

    footer {
        & h2 {
            font-size: 30px;
        }

        & div {
            gap: 250px;
        }
    }

}

/*------------------------------ DESKTOP 2K ------------------------------*/
@media screen and (min-width:1440px) {

    header {
        .backToIndex {
            left: 200px;
        }
    }

    .pageIndex {
        .functioning {
            &__step {
                width: 450px;
            }
        }

        .restaurant {
            &__card {

                .image1 {
                    object-position: 50% 60%;
                }

                .image3 {
                    object-position: 50% 70%;
                }
            }
        }
    }

    .pageRestaurant {
        .menu {
            &__restaurant {
                padding: 0 200px;
            }

            & fieldset {
                padding: 0 200px;
            }

            &__card {
                &__description {
                    padding-top: 10px;
                    padding-bottom: 10px;

                    &__nom {
                        font-size: 24px;
                        height: 24px;
                    }

                    &__side {
                        font-size: 22px;
                        height: 22px;
                    }
                }
            }
        }
    }

    footer {
        & div {
            gap: 500px;
        }
    }
}

/*------------------------------ DESKTOP 4K ------------------------------*/
@media screen and (min-width:2560px) {

    header {
        .logo img {
            width: 500px;
        }

        .backToIndex {
            left: 700px;

            & i {
                font-size: 70px;
            }
        }
    }

    .pageIndex {

        .location {
            & p {
                font-size: 32px;
            }
        }

        .reservation {
            & h1 {
                font-size: 50px;
            }

            & p {
                font-size: 26px;
            }

            & button {
                height: 75px;
                width: 400px;
                font-size: 30px;
            }
        }

        .functioning {
            & h2 {
                font-size: 50px;
            }

            & div {
                justify-content: space-evenly;

                & p {
                    font-size: 26px;
                }
            }

            &__step {
                &__number {
                    height: 35px;
                    width: 35px;
                    left: -35px;
                }
            }
        }

        .restaurant {
            padding: 50px 50px 70px;

            & h2 {
                font-size: 50px;
            }

            &__bloc {
                gap: 50px;
            }

            &__card {
                height: 400px;

                &__description {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    & h3 {
                        font-size: 28px;
                    }

                    & p {
                        font-size: 24px;
                    }

                }

                &__nouveau {
                    & p {
                        font-size: 24px;
                    }
                }
            }

            &__favourite {
                bottom: 5%;
                font-size: 45px;
            }
        }
    }

    .pageRestaurant {
        .menu {
            &__restaurant {
                & h1 {
                    font-size: 50px;
                }
            }

            &__restaurant {
                padding: 0 700px;
            }

            & fieldset {
                padding: 0 700px;

                & legend {
                    font-size: 42px
                }
            }

            &__card {
                height: 100px;

                &__description {
                    &__nom {
                        font-size: 34px;
                        font-weight: 800;
                        height: 36px;
                    }

                    &__side {
                        font-size: 32px;
                        height: 34px;
                    }
                }

                &__prix {
                    font-size: 34px;
                }

                &__radioCheckIcon {
                    & i {
                        font-size: 50px;
                    }
                }

                & input[type="radio"]:checked~.menu__card__radioCheckIcon {
                    width: 150px;
                }
            }
        }
    }

    footer {
        & h2 {
            font-size: 50px;
        }

        & div {
            & div {
                & ul {
                    & li {
                        & a {
                            font-size: 28px;

                            & i {
                                width: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
}