/*------------------------------ BACKGROUND IMAGE ------------------------------*/
#laPaletteDuGoutImage {
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

#laNoteEnchanteeImage {
    background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

#aLaFrancaiseImage {
    background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

#leDeliceDesSensImage {
    background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.restaurantBackground {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 300px;
}

/*------------------------------ SECTION MENU ------------------------------*/
.menu {
    margin-top: -50px;
    background-color: $backgroundColorLightGrey;
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    padding: 20px 0 50px;
    gap: 25px;

    /*------------------------------ TITRE DES RESTAURANTS ------------------------------*/
    &__restaurant {
        display: flex;
        justify-content: space-between;
        padding: 0 50px 0 15px;
        align-items: center;

        & h1 {
            font-family: Shrikhand, arial;
            font-weight: 100;
            font-size: 26px;
        }

        &__favourite {
            font-size: 26px;
            @include heartCheckbox
        }

        & i {
            padding-right: 5px;
        }

    }

    & fieldset {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0 15px;
        gap: 20px;

        & legend {
            text-transform: uppercase;
            width: 20px;
            border-bottom: 3px solid $colorTertiary;
            margin-bottom: 10px;
            font-size: 18px;
        }

    }

    /*------------------------------ CARTE MENU ------------------------------*/
    &__card {
        background-color: white;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        height: 75px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        /*-------------------- RADIO ANIMATION --------------------*/
        transform-origin: center right;
        @include carteMenu;

        /*-------------------- CARTE ANIMATION --------------------*/
        animation: menuApparition 800ms;
        animation-fill-mode: forwards;
        opacity: 0%;

        &:nth-child(2) {
            animation-delay: 0.2s;
        }

        &:nth-child(3) {
            animation-delay: 0.4s;
        }

        &:nth-child(4) {
            animation-delay: 0.6s;
        }

        &:nth-child(5) {
            animation-delay: 0.8s;
        }

        /*-------------------- DESCRIPTION --------------------*/
        &__label {
            display: flex;
            flex: 1 1 100%;
            cursor: pointer;
        }

        &__description {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 15px 0 5px 10px;
            flex-basis: 80%;
            
            &__nom {
                font-size: 16px;
                font-weight: 700;
                @include textOverflow;
                height: 18px;
            }

            &__side {
                font-size: 16px;
                font-weight: 400;
                @include textOverflow;
                height: 18px;
            }

        }

        &__prix {
            display: inline-flex;
            height: 100%;
            flex-basis: 20%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            font-size: 16px;
            font-weight: 600;
            padding: 0 10px 10px 0;

        }

        &__radioCheckIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 15px 15px 0;
            background-color: $colorTertiary;
            overflow: hidden;
            width: 0;
            height: 100%;

            & i {
                color: white;
                background-color: $colorTertiary;
                border-radius: 50%;
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 0;
            }
        }

    }

    /*------------------------------ BOUTON COMMANDER ------------------------------*/
    &__commander {
        display: flex;
        justify-content: center;

        & button {
            height: 50px;
            width: 150px;
            @include bouton;
        }
    }
}