@mixin bouton {
    background: linear-gradient(1turn, $colorPrimary, $colorSecondary);
    border: none;
    border-radius: 25px;
    color: white;
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition-duration: 0.2s;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    }
}

@mixin hoverAnimationCard {
    transform: scale(1.01);
    background-color: rgba($colorPrimary, 10%)
}

@mixin heartCheckbox {

    & input[type="checkbox"] {
        display: none;
    }

    .fa-regular {
        position: absolute;
        transform: scale(0.9);
    }

    .fa-solid {
        opacity: 0%;
        background: linear-gradient(210deg, $colorPrimary, $colorSecondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transform: scale(1.1);
    }

    & input[type="checkbox"]:checked~.fa-solid {
        opacity: 100%;
        animation: heartLike 1000ms 150ms backwards;
    }

    & input[type="checkbox"]:not(:checked)~.fa-solid {
        animation: heartUnlike 1000ms 150ms backwards;
    }

    & input[type="checkbox"]~i:hover {
        cursor: pointer;
    }
}

@mixin carteMenu {

    & input[type="radio"] {
        display: none;
    }

    &:hover {
        .menu__card__radioCheckIcon {
            width: 80px;
            transition-duration: 1s;

            & i {
                animation: radioSpinner 1s;
                width: auto;
            }
        }

    }

    & input[type="radio"]:checked~.menu__card__radioCheckIcon {
        background-color: darken($colorTertiary, 30%);
        width: 80px;
    }

    & input[type="radio"]:checked~i {
        background-color: darken($colorTertiary, 30%);
    }

}

@mixin loadingPage {
    animation: loaderFade 3s forwards;
}

@mixin circleLoading {
    animation: circleLoader 2s both 300ms;
}

@mixin textLoading {
    transform-origin: 50% 50% -25px;
    transform-style: preserve-3d;
    animation: textFlip 2s both 700ms;
}