@mixin bouton {
    background: linear-gradient(1turn, $colorPrimary, $colorSecondary);
    border: none;
    border-radius: 25px;
    color: white;
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition-duration: 0.2s;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    }
}

@mixin heartCheckbox {

    & input[type="checkbox"]{
        display: none;
    }

    & input[type="checkbox"]~i{
        animation: heartUnlike 500ms;
    }

    & input[type="checkbox"]:checked~i {
        font-weight: 900;
        background: linear-gradient(210deg, $colorPrimary, $colorSecondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: heartLike 500ms;
    }

}