@mixin bouton {
    background: linear-gradient(1turn, $colorPrimary, $colorSecondary);
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 225px;
    color: white;
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    transition-duration: 0.2s;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    }
}