$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;
$background-color-lightgrey: rgb(245, 245, 245);
$background-color-darkgrey: rgb(235, 235, 235);
$background-color-footer: rgb(60, 60, 60);