$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;
$backgroundColorLightgrey: rgb(245, 245, 245);
$backgroundColorDarkgrey: rgb(235, 235, 235);
$backgroundColorFooter: rgb(60, 60, 60);